form{
    gap: 20px;
    width: 40%;
    height: 70%;
    border-radius: 25px;
    background-color: var(--light-bg);
}
form .cancel-btn{
    height: 100%;
    border: solid 2px;
    border-color: var(--primary-color);
    color: var(--primary-color);
    background-color: transparent;

}

form .add-btn{
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}


.buttons{
    height: 44px;
    gap: 60px;
}

.buttons button{
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    border-radius: 10px;
}

.form_title{
    color: var(--primary-color);
    font-size: 34px;
}

.label_input{
    gap: 8px;
}

.label_input{
    gap: 8px;
}

.label_input #title{
    height: 40px;
    border-radius: 5px;
}

.label_input #requirements{
    height: 150px;
    border-radius: 5px;
}

.label_input #description{
    height: 150px;
    border-radius: 5px;
}

.back-div{
    background-color: var(--third-color);
}

.back-div form{
    background-color: var(--secondary-color);
}

input, textarea{
    padding: 10px;
    background-color: var(--light-bg);
}
