.payroll-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.dropdown {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--light-bg);
}

.payroll-search-new{
    height: 40px;
    width: 50%;
    gap: 5px;
    margin-left: 100px;
}

.payroll-search-new input{
    padding: 0px 0.5em;
    background-color: var(--light-bg);
    font-size: 1em;
    height: 100%;
    width: 55%;
    border-radius: 10px;
}

.payroll-search-new input::placeholder{
    font-size: 1em;
    font-weight: medium;
    padding-left: 1.5px;
    color: black;
    height: 100%;
    width: 55%;
    border-radius: 10px;
    
}
